<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>WELCOME TO KODEHIVE ACADEMY</h1>
	<div>
		<div>
			<button type="button" id="btn-add">Add Data</button>
		</div>
		<br />
		<table border="1" class="table table-bordered">
			<thead>
				<tr>
					<td>KODE</td>
					<td>MAHASISWA</td>
					<td>GENDER</td>
					<td>ALAMAT</td>
					<td>STATUS</td>
					<td>ACTION</td>
				</tr>
			</thead>
			<tbody id="list-mahasiswa">
			</tbody>
		</table>
	</div>
	<!-- modal 2 -->
	<div class="modal fade" id="modal-add-mahasiswa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="AddMahasiswa">Add Mahasiswa</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Modal body text goes here.</p>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	//Ajax Pop-up tambah data
	$('#btn-add').click(function () {
		var kd_mhs = $(this).val();
		$.ajax({
			url: '/kodehive/mahasiswa/add',
			type: 'get',
			dataType: 'html',
			success: function (result) {
				$('#modal-add-mahasiswa').modal('show');
				$('#modal-add-mahasiswa').find('.modal-body').html(result);
			}
		});
	});
	
	refreshData();
	
	//Ajax list
	function refreshData() {
		$.ajax({
			url: '/kodehive/mahasiswa/list',
			type: 'get',
			dataType: 'html',
			success: function (result) {
				$('#list-mahasiswa').html(result);
			}
		});
	}
	
	//Ajax Update edit data
	$('#list-mahasiswa').on('click', '#btn-edit', function () {
		var kd_mhs = $(this).val();
		$.ajax({
			url: '/kodehive/mahasiswa/edit',
			type: 'get',
			dataType: 'html',
			data: {kd_mhs},
			success: function (result) {
				$('#modal-add-mahasiswa').modal('show');
				$('#modal-add-mahasiswa').find('.modal-body').html(result);
			}
		});
	});
	
	//Ajax Create
	$('#modal-add-mahasiswa').on('submit', '#form-add-mahasiswa', function () {
		$.ajax({
			url: '/kodehive/mahasiswa/create',
			type: 'post',
			dataType: 'html',
			data: $(this).serialize(),
			success: function (result) {
				$('#modal-add-mahasiswa').modal("hide");
				refreshData();
			}
		});
		return false;
	});
	
	//Ajax Update
	$('#modal-add-mahasiswa').on('submit', '#form-edit-mahasiswa', function () {
		$.ajax({
			url: '/kodehive/mahasiswa/update',
			type: 'post',
			dataType: 'html',
			data: $(this).serialize(),
			success: function (result) {
				alert("data berhasil diupdate");
				$('#modal-add-mahasiswa').modal("hide");
				refreshData();
			}
		});
		return false;
	});
</script>
</html>